# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output of the go coverage tool
*.out

# IDE/editor stuff
.idea/
.vscode/
*.swp

# Vendor (если не используешь go mod vendor)
/vendor/
